.cards {
  /* max-width: 90rem; */
  width: min(100%, 90rem);
  margin: 0 auto;
  border-bottom: #212121 1px solid;
  padding-bottom: 2.5rem;
  row-gap: 1.25rem;
  column-gap: 1.25rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.card {
  width: 100%;
  /* max-width: 25.8rem; */
  /* max-height: 27.8rem; */
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  object-position: center;
  object-fit: cover;
}

.card__description {
  font-weight: normal;
}
