.cards {
  width: min(100%, 80rem);
  margin: 0 auto;
  border-bottom: #21212166 1px solid;
  padding: 1.25rem 0 2.5rem;
  row-gap: 2.5rem;
  column-gap: 1.25rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
}

.card {
  width: 100%;
  justify-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 0.5rem;
  object-position: center;
  object-fit: cover;
}

.card__description {
  font-family: "Poppins", sans-serif, Arial;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  max-width: 25.8125rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__description-button {
  background: none;
  border: none;
  height: 20px;
  width: 23px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease;
  margin-left: auto;
}

.card__description-button:hover {
  opacity: 1;
}

@media (max-width: 1320px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    align-items: center;
  }

  .card__image {
    width: 100%;
    max-width: 413px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 627px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 288px;
    align-self: center;
  }

  .card__image {
    width: 288px;
    height: 288px;
    margin-bottom: 0.75rem;
  }

  .card__description {
    font-size: 1rem;
    text-align: center;
  }
}
