* {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0 auto;
  padding: 0;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
