.profile {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25rem;
  max-width: 90rem;

  border-bottom: #212121 1px solid;
  margin-bottom: 1.25rem;
}

.profile__content {
  display: flex;
  /* flex-direction: row; */

  padding: 0;
  margin: 0;
}

.profile__avatar {
  max-width: 11.8rem;
  max-height: 11.8rem;
  border-radius: 0.5rem;
}

.profile__column {
  margin: 0;
  padding: 0;
}
.profile__name {
  max-width: 26.3rem;
  height: 2rem;
}

.profile__description {
  width: 6rem;
  height: 1rem;
}

.profile__edit-button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__edit-button:hover {
  cursor: pointer;
}

.profile__edit-icon {
  max-width: 75%;
  max-height: 80%;
}

.porfile__new-post-button-image {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.profile__new-post-button {
  min-width: 9.3rem;
  height: 3.25rem;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 1.5rem 1rem 2rem;
  color: #fcf5e5;
  border-radius: 0.5rem;
  margin: auto 0 1.25rem auto;
  /* white-space: nowrap; */
  /* flex-wrap: nowrap; */
}

.profile__new-post-button:hover {
  cursor: pointer;
}
