.profile {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25rem;
  max-width: 90rem;

  border-bottom: #21212166 1px solid;
  margin-bottom: 1.25rem;
}

.profile__content {
  display: flex;
  /* flex-direction: row; */

  padding: 0;
  margin: 0;
}

.profile__avatar {
  max-width: 11.8rem;
  max-height: 11.8rem;
  border-radius: 0.5rem;
}

.profile__column {
  margin: 0;
  padding: 0;
}
.profile__name {
  max-width: 26.3rem;
  height: 2rem;
  font-weight: 500;
  font-size: 32px;
}

.profile__description {
  font-size: 1rem;
  font-weight: 500;
  color: #212121b2;
  max-width: 26.25rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #212121;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__edit-icon {
  max-width: 75%;
  max-height: 80%;
}

.profile__new-post-button-image {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.profile__new-post-button {
  min-width: 9.3rem;
  height: 3.25rem;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 1.5rem 1rem 2rem;
  color: #fcf5e5;
  border-radius: 0.5rem;
  margin: auto 0 1.25rem auto;
  /* white-space: nowrap; */
  /* flex-wrap: nowrap; */
}

.profile__new-post-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile__avatar {
    width: 5rem;
    height: 5rem;
  }

  .profile__name {
    font-size: 20px;
  }
}
